.grid{display: grid;
    grid-template-columns:2fr 2fr repeat(2, 2fr);
    grid-template-rows: 50px; 
    grid-gap: 15px 20px;}
    
    .elemento{ background-color: rgb(252, 144, 245);
    color: rgb(0, 0, 0);
    border: solid 1px;} 

    .header{grid-column-start: 1;
    grid-column-end: 5;}
    