body{background-color: pink;}
p{background-color: blue;
text-align: center;
text-indent: 30px;
line-height: 25px;
word-spacing: 15px;
letter-spacing: 5px;
font-family: "Arial";
font-weight: 700;
font-size: 10mm;
text-shadow: 2px 2px 3px rgba(0,0,0,1);}