body{ background-color: rgb(213,252,196);}
ul{list-style-type: upper-alpha; margin: 10px; background-color: white;border-color: rgb(94, 91, 91);
border: solid; border-radius: 4px; padding-left: 0px;}
li{border: solid 1px black;padding: 5px;}
